@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">CS Project Manager Dashboard</h1>
</div>

<!-- Displaying user login status -->
<div class="navbar-text">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <span>Hello, @User.Identity.Name!</span>
        <!-- need to access a user's projects to display them, which is a bit convoluted -->
        <!-- userID -> check student lists in all teams until user is found -> get projects related to that team -->
        <form method="get" asp-page="/CreateProject">
            <button type="submit" class="btn btn-primary">Create Project</button>
        </form>
    }
    else
    {
        <span>Not logged in</span>
    }
</div>