@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">CS Project Manager Dashboard</h1>
</div>

<!-- Displaying user login status -->
<div class="navbar-text">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <span>Hello, @User.Identity.Name!</span>
        <br><br>
        <b>Your Projects</b>
        <br>
        @if (Model.Projects.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td>
                            <a asp-page="/RequirementsStack" asp-route-projectId="@project.Id.ToString()">@project.ProjectName</a>
                        </td>
                        <td>@project.Description</td>

                    </tr>
                }
                </tbody>
            </table>
        } else
        {
            <span>You have no projects!</span>
        }
        <form method="get" asp-page="/CreateProject">
            <button type="submit" class="btn btn-primary">Create Project</button>
        </form>
    }
    else
    {
        <span>Not logged in</span>
    }
</div>
