@page
@{
    ViewData["Title"] = "Resources";
}
<h1 class="mb-4">Resources</h1>

<div class="mb-5">
    <h2>Agile Story Points</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://agilemodeling.com/essays/initialArchitectureModeling.htm">Agile Modeling</a> – Overview of initial architecture in Agile.
        </li>
        <li class="list-group-item">
            <a href="https://www.visual-paradigm.com/scrum/what-is-story-point-in-agile/">Story Points</a> – Understanding story point estimation.
        </li>
        <li class="list-group-item">
            <a href="https://www.visual-paradigm.com/guide/agile-software-development/what-is-user-story/">User Story</a> – What is a user story and why it matters.
        </li>
        <li class="list-group-item">
            <a href="https://www.techagilist.com/agile/scrum/bucket-system-agile-estimation-method/">Bucket System Estimation</a> – Team-based estimation approach.
        </li>
        <li class="list-group-item">
            <a href="https://www.productplan.com/glossary/fibonacci-agile-estimation/">Fibonacci Estimation</a> – How Fibonacci sequence helps Agile estimation.
        </li>
    </ul>
</div>

<div>
    <h2>Requirement Artifacts</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/resources/12-(10-11)%20Requirements%20Artifacts.pdf" target="_blank">Download Requirement Artifacts Slides (PDF)</a> - David O. Johnson Slides Fall 2024.
        </li>
        <li class="list-group-item">
            <a href="https://en.wikipedia.org/wiki/Unified_Modeling_Language">Unified Modeling Language</a> – Industry-standard modeling language.
        </li>
        <li class="list-group-item">
            <a href="https://agilemodeling.com/essays/agileRequirements.htm">Agile Requirements Modeling</a> – Agile take on gathering requirements.
        </li>
        <li class="list-group-item">
            <a href="https://cs.ccsu.edu/%7Estan/classes/CS410/Notes16/05-SystemModeling.html">System Modeling</a> – System modeling overview in software engineering.
        </li>
        <li class="list-group-item">
            <a href="https://online.visual-paradigm.com/">Online Requirement Artifacts Software</a> – Tool for modeling and requirements documentation.
        </li>
    </ul>
</div>
