@page
@model CS_Project_Manager.Pages.SelectDiscussionBoardModel
@{
}

<h2>My Discussion Boards</h2>

<div class="navbar-text">
    @if (User.Identity?.IsAuthenticated == true)
    {
        @if (Model.Classes.Count > 0 || Model.Teams.Count > 0)
        {
            <table>
                <tbody>
                    @foreach (var course in Model.Classes)
                    {
                        <tr>
                            <td>
                                <a asp-page="/DiscussionBoard" asp-route-classId="@course.Id.ToString()">@course.Name</a>
                            </td>
                        </tr>
                    }
                    @foreach (var team in Model.TeamDisplayData)
                    {
                        <tr>
                            <td>
                                <a asp-page="/DiscussionBoard" asp-route-teamId="@team.Id.ToString()">@team.label</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>No classes or teams to display discussion boards for</span>
        }
    }
    else
    {
        <span>Not logged in</span>
    }
</div>