/*
 * Prologue
Created By: Ginny Ke
Date Created: 3/08/25
Last Revised By: Ginny Ke
Date Revised: 3/08/25
Purpose: Styling for pages

Preconditions: all button functionalities must be working in order to progress to the next associated page. 
Postconditions: user is authenticated and signed in if the username and password are valid, user is redirected to the Dashboard page upon successful login, error messages are displayed for invalid login attempts
Error and exceptions: ArgumentNullException (thrown if the username or Password properties are null)
Side effects: N/A
Invariants: _studentUserserService field is always initialized with a valid instance
Other faults: N/A
*/


.jumbotron {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
}

.card {
    background: white;
    border-radius: 10px;
    border: none;
}

.btn-lg {
    font-size: 1.2rem;
}
